{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Sheet</title>
    <base target="_self">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--stylesheets / link tags loaded here-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="https://surveyjs.azureedge.net/1.0.15/survey.css" type="text/css" rel="stylesheet"/>

    <link href="{% static "css/study6/instructions.css" %}" rel="stylesheet">

</head>

<body >

<div class="container">

    <div class="row">
        <br>  <br>
        <div class="text-center">
            <h1>Information Sheet for Participation in a Research Study</h1><br>
            <img class="img-responsive center-block" src="https://uconn.co1.qualtrics.com/CP/Graphic.php?IM=IM_9MN7hZjVkpec6zP" style="width: 404px; height: 121px;"/>



        </div>
        <br>
        <p class="lead">
            <br>
            <strong>Principal Investigator:</strong> Mohammad Maifi Hasan Khan
            <br>
            <strong>Student Researcher:</strong> Md Abdullah Al Fahim
            <br>
            <strong>Study Title:</strong> An Investigation of Different Features of an Online Target Detection Task.<br>
        </p>

        <br>
        <p class="lead text-justify">
            <strong><u>Overview of the Research</u></strong><br>
            &nbsp;<br>
            You are being asked to provide consent to participate in a research study that is being done to investigate how users
            use different features of an automated system in an online target detection task. You will play five rounds of a 2-minutes
            long online target detection game if you decide to participate in this study. Your participation in the study is voluntary.
            After you read this information sheet, you will see the following options: <br>

            <div class="lead text-justify" style="padding-left:2em">
                <small><i class="icon-circle-blank"></i></small>
                I have read the above information, I certify that I am 18 years old or older, and give consent to participate in the study.
                <br>

                <small><i class="icon-circle-blank"></i></small>
                I choose not to participate in this study.
                <br>
            </div>
        </p>

        <br>
        <p class="lead text-justify">
            Selecting the first option will act as granting of consent, and you will be redirected to the game page. If you agree to
            participate, you can still change your mind later. You should consider all of the information in this document carefully before
            making your decision.
        </p>

        <br>
        <p class="lead text-justify">
            A more detailed description of this research follows.
        </p>

        <br>
        <p class="lead text-justify">
            <strong><u>Introduction</u></strong><br>
            &nbsp;<br>
            You are invited to participate in a research study to investigate how users interact with the computer in a simulated target
            detection task. You will play an online game in which your task is to identify dangerous vehicles in several images. In the game,
            you will be paired with either another Mechanical Turk worker or an automated target detection system to work together as a team
            to identify dangerous vehicles.
        </p>

        <br>
        <p class="lead text-justify">
            <strong><u>Why is this study being done?</u></strong><br>
            &nbsp;<br>
            The purpose of this study is to better understand how different features of an online target detection systems affect users'
            attitude toward the system. Specifically, your participation will help us find the answer to the following research question:
            How do an automated system's attributes influence operators' interaction with the system? By investigating the factors that
            affect operators' interaction with the game, we hope to learn how to improve automated system design and promote safer and
            effective use of such systems.
        </p>

        <br>
        <p class="lead text-justify">
            <strong><u>What are the study procedures? What will I be asked to do?</u></strong><br>
            &nbsp;<br>
            The study includes playing a web-based game and a survey. You will be asked to play five rounds of a 2-minutes long online
            target detection game. You will also answer survey questions after the gameplay.
            <br>

            &nbsp;<br>
            <strong>During gameplay, you will work as a team with either another Mechanical Turk worker or an automated target detection system to classify a group of images as "Dangerous" or "Not Dangerous." In each round, you will choose how many images to allocate to yourself and your partner. Once all gameplay rounds are complete, you will be forwarded to a survey hosted on Qualtrics.</strong>
            <br>

            &nbsp;<br>
            <strong>During the game, if you are paired with another Mechanical Turk worker, we will ask for your camera/webcam permission. If you allow the camera permission, we will live stream the video of your face to the other worker. Note that allowing camera permission is optional and you can still participate even if you decide not to share your video with your partner.  Similarly, you will watch the other worker’s video on your screen if s/he allows camera permission. However, we will not record or store the video of you or the other worker in our server. Note that you will not be able to chat/talk/communicate with the other player during the gameplay. Similarly, you will not hear any audio from your partner's side.</strong>
            <br>

            &nbsp;<br>
            <strong>If you are paired with the automated system, you will not be asked to turn on your camera.</strong>
            <br>

            &nbsp;<br>
            After the game play, in the survey, you will be asked questions about your gameplay experience, your personality traits, and some basic demographic information. You will also respond to some open-ended questions related to the game. We will include a few multiple-choice attention check questions throughout the survey asking for a specific response to ensure mindful responses. You have to correctly answer those questions to receive the compensation for participating in the study.
            <br>

            &nbsp;<br>
            Once the survey is complete, you will be given a 10-digit code to submit into Mechanical Turk.  This random 10-digit code will be used to connect you with the completed survey and gameplay for compensation.
            <br>

            &nbsp;<br>
            <strong>Participation will involve approximately 30 minutes of your time. Since you may play the game with another Mechanical Turk worker, you have to complete the study in one sitting.</strong>
            <br>

            &nbsp;<br>
            <strong>The game is only supported on the Google Chrome web browser. You have to use the Google Chrome browser to continue to the game page.</strong>
            <br>

            &nbsp;<br>
            Some research requires that the full purpose of the study not be explained before you participate. We will give you a full explanation when we are no longer enrolling participants.
            <br>
        </p>

        <br>
        <p class="lead text-justify">
            <strong><u>What are the risks or inconveniences of the study?</u></strong><br>
            &nbsp;<br>
            We believe that there are no risks associated with this research study. A possible inconvenience may be the time it takes to complete the study. Moreover, the game involves time pressure which can potentially be stressful.
            <br>
        </p>

        <br>
        <p class="lead text-justify">
            <strong><u>What are the benefits of the study?</u></strong><br>

            &nbsp;<br>
            You may not directly benefit from this research. However, insights gained from this study may help researchers to design better automated systems in the future.
            <br>
        </p>

        <br>
        <p class="lead text-justify">
            <strong><u>Will I receive payment for participation? Are there costs to participate?</u></strong><br>

            &nbsp;<br>
            <strong>There are no costs for you to participate. You can earn $5.00 by scoring top 50% scores in your game condition. However, if you cannot be in the top 50% scoring teams, you will receive $2.00 for completing all gameplay rounds and the post-game survey.</strong>
            <br>

            &nbsp;<br>
            You will receive $1.99 compensation after you submit the 10-digit code into Mechanical Turk. You will receive the remaining $0.01 with a debriefing statement explaining the full purpose of the study when we are no longer enrolling participants. If you are one of the top 50% scoring teams, you will receive the $3.00 at this point.
            <br>
        </p>

        <br>
        <p class="lead text-justify">
            <strong><u>How will my personal information be protected?</u></strong><br>

            &nbsp;<br>
            As the game is hosted on <i>pythonanywhere.com</i>, we have included links to their privacy policy and protection terms, respectively:
            <br>

            <br>
            <small><i class="icon-circle-blank" style="padding-left:2em"></i></small>
            <a href="https://www.pythonanywhere.com/privacy_v2/" target="_blank">https://www.pythonanywhere.com/privacy_v2/</a>
            <br>
            <small><i class="icon-circle-blank" style="padding-left:2em"></i></small>
            <a href="https://www.pythonanywhere.com/terms_v2/" target="_blank">https://www.pythonanywhere.com/terms_v2/</a>
            <br>

            &nbsp;<br>
            As mentioned in their terms, <i>pythonanywhere</i> collects information such as IP address and device type that are standard in most server logs. The investigators may access <i>pythonanywhere</i>'s server logs to monitor website traffic information.
            <br>

            &nbsp;<br>
            While information about your gameplay will be stored on <i>pythonanywhere</i>'s servers, we will not ask for any identifiable information (e.g., name, e-mail) during the game. Also, while the video of your face may be live-streamed to another Mechanical Turk user if you are chosen to play with another participant as a team, the video data will not be recorded or stored in our server.
            <br>

            &nbsp;<br>
            A random 10-digit code will be used to link your gameplay data to your survey response. The survey will not collect any identifiable information. All data will be stored on password-protected university-owned devices and retained indefinitely for retroactive analysis.
            <br>

            &nbsp;<br>
            We will do our best to protect the confidentiality of the information we gather from you but we cannot guarantee 100% confidentiality. Your confidentiality will be maintained to the degree permitted by the technology used. If you choose to withdraw yourself from the study, all data collected up to the point of withdrawal will be kept.
            <br>

            &nbsp;<br>
            You should know that the UConn Institutional Review Board (IRB) and Research Compliance Services may inspect study records as part of its auditing program, but these reviews will only focus on the researchers and not on your responses or involvement. The IRB is a group of people who review research studies to protect the rights and welfare of research participants.
            <br>
        </p>

        <br>
        <p class="lead text-justify">
            <strong><u>Can I stop being in the study and what are my rights?</u></strong><br>
            &nbsp;<br>
            You do not have to be in this study if you do not want to. If you agree to start, but later change your mind, you may drop out at any time. There are no penalties or consequences of any kind if you decide that you do not want to participate. Note that, you will only receive compensation after you complete all gameplay rounds and the survey.
            <br>
        </p>

        <br>
        <p class="lead text-justify">
            <strong><u>Whom do I contact if I have questions about the study?</u></strong><br>
            &nbsp;<br>
            Take as long as you like before you make a decision. We will be happy to answer any question you have about this study. If you have further questions about this study or if you have a research-related problem, you may contact the principal investigator, Mohammad Maifi Hasan Khan (<a href="mailto:mohammad.khan@uconn.edu">mohammad.khan@uconn.edu</a>) or the student researcher Md Abdullah Al Fahim (<a href="mailto:md.fahim@uconn.edu">md.fahim@uconn.edu</a>). If you have any questions concerning your rights as a research participant, you may contact the University of Connecticut Institutional Review Board (IRB) at 860-486-8802.
            <br>
        </p>

        <p class="lead">
            <strong>UConn IRB Protocol X20-0114 Approved August 10, 2020</strong>
        </p>
    </div>


    <div class="row">

        <div class="col-lg-12 border" >
            <div id="surveyElement"></div>
        </div>
    </div>
    <hr class="featurette-divider">

</div>
  <!-- /.container -->



<script>

</script>

<!--scripts loaded here-->

<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


<script src="https://surveyjs.azureedge.net/1.0.15/survey.jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>


<script src="{% static "js/study6/infoSheet.js" %}"></script>



</body>
</html>
