<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Survey</title>

    <style>
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
       .container {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            overflow: hidden;
        }
        .row {
            flex-grow: 1;
            border: none;
            margin: 0;
            padding: 0;
        }

    </style>

</head>

<body>

    <div class="container">
        <iframe src="https://uconn.co1.qualtrics.com/jfe/form/SV_9z6lTFz3b5sf7IV?gid={{ groupId }}" class="row"></iframe>
    </div>


    <script type="text/javascript">
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>

</body>

</html>