{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <base target="_self">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--stylesheets / link tags loaded here-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="https://www.cssscript.com/demo/pure-css-circular-percentage-bar/css/circle.css" rel="stylesheet" type="text/css" />

    <link href="{% static "css/game-css2.css" %}" rel="stylesheet">

</head>
<body >

<div class="example">

    <h2>Results of Round-{{ prevRound }}</h2>

    <div class="container">

    <div class="row">



        <br>
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Results <i class="icon-bar-chart"></i></h2>
                </div>
                <div class="panel-body ">

                    <table class="table table-bordered text-center">  <!--table-condensed-->
                        <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="text-center">You</th>
                            <th scope="col" class="text-center">Automation</th>
                            <th scope="col" class="text-center">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Number of Images Allocated</th>
                            <td> <span class="badge">{{ numImgAllocatedManual }}</span> <i class="icon-picture text-warning"></i> </td>
                            <td> <span class="badge">{{ numImgAllocatedAuto }}</span> <i class="icon-picture text-warning"></i></td>
                            <td> <span class="badge">{{ totalImgAllocated }}</span> <i class="icon-picture text-warning"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Number of Images Correct</th>
                            <td><span class="badge">{{ numImgCorrectManual }}</span> <i class="icon-ok-sign text-success"></i> </td>
                            <td><span class="badge">{{ numImgCorrectAuto|floatformat:0 }}</span> <i class="icon-ok-sign text-success"></i> </td>
                            <td><span class="badge">{{ totalCorrect|floatformat:0 }}</span> <i class="icon-ok-sign text-success"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">Number of Images Incorrect</th>
                            <td><span class="badge">{{ numImgIncorrectManual }}</span> <i class="icon-remove-sign text-danger"></i> </td>
                            <td><span class="badge">{{ numImgIncorrectAuto|floatformat:0 }}</span> <i class="icon-remove-sign text-danger"></i> </td>
                            <td><span class="badge">{{ totalIncorrect|floatformat:0 }}</span> <i class="icon-remove-sign text-danger"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">Time Elapsed</th>
                            <td><span class="badge">{{ totalTimeManual|floatformat:1 }} sec</span> <i class="icon-time text-primary"></i> </td>
                            <td><span class="badge">{{ totalTimeAuto|floatformat:1 }} sec</span> <i class="icon-time text-primary"></i> </td>
                            <td><span class="badge">{{ totalTime|floatformat:1 }} sec</span> <i class="icon-time text-primary"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">Average Time per Image</th>
                            <td><span class="badge">{{ avgTimeManual|floatformat:1  }} sec</span> <i class="icon-time text-primary"></i> </td>
                            <td><span class="badge">{{ avgTimeAuto|floatformat:1  }} sec</span> <i class="icon-time text-primary"></i> </td>
                            <td><span class="badge">{{ totalTimeAvg|floatformat:1  }} sec</span> <i class="icon-time text-primary"></i> </td>
                        </tr>
                        </tbody>
                    </table>

{% comment %}
                    <p>
                        <h3 class="text-center">Total Score-1: <strong> {{ score1|floatformat:1  }} </strong></h3>
                    </p>

                    <p>
                        <h3 class="text-center">Total Score-2: <strong> {{ score2|floatformat:1  }}/100 </strong></h3>
                    </p>{% endcomment %}

                    {% comment %}<div id="chart_div"></div>{% endcomment %}

                    <div class="row vertical-align row-border-none">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <h4 class="text-center"> Accuracy points </h4>
                            <div class="c100 p{{ accScore|floatformat:0  }} green">
                                <span>{{ accScore|floatformat:0  }}<small> points</small> </span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-12">
                            <h3 class="text-center"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </h3>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <h4 class="text-center"> Time points</h4>
                            <div class="c100 p{{ timeScore|floatformat:0  }} orange">
                                <span>{{ timeScore|floatformat:0  }}<small> points</small> </span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-12">
                            {% comment %}<h3 class="text-center"> <i class="icon-pause rotate-icon"></i> </h3>{% endcomment %}
                            <h3 class="text-center"> <span class=" glyphicon glyphicon-pause rotate-icon" aria-hidden="true"></span> </h3>

                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <h4 class="text-center bolder"> Total points</h4>
                            <div class="c100 p{{ avgScore|floatformat:0  }} blue">
                                <span>{{ totalScore|floatformat:0  }}<small> points</small> </span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="text-right">
                        <button id="results-button"  type="button" class="btn btn-primary" disabled="true">
                            Next <span id="results-next-timer"  class="badge badge-light">Wait!</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Message <i class="icon-envelope-alt"></i></h2>
                </div>
                <div class="panel-body" id="messageDiv" style="display: none">
                    <h3> {{ message }}</h3>

                    <div class="text-right">
                        <button id="message-button"  type="button" class="btn btn-primary" disabled="true">
                            Next <span id="message-next-timer"  class="badge badge-light">Wait!</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->



     <!--<br>-->

     <div class="row">
         <br>
        <div class="col-lg-2"></div>

        <div class="col-lg-8">

             <div class="panel panel-default" id="allocationDiv" style="display: none">
                 <div class="panel-heading">
                     <h2>Allocation for next Round <i class="icon-tasks"></i></h2>
                 </div>

                 <form id="ResultsInputForm"  action="/begin2/{{ hash }}/{{ enc }}/{{ nextRound }}/" method="post">{% csrf_token %}
                     <div class="panel-body">

                         <p> <h3 class="text-center" id="allocation-question">In Round-{{ nextRound }}, there will be 20 images to examine.
                         How many images do you want to assign to the Automation in Round-{{ nextRound }}? </h3></p>
                         <p class="text-danger">(Drag one of the sliders below)</p>


                         <div class="row row-border-none">
                             <div class="col-xs-2"> <label style="margin: 10px" for="allocationToAutomation">Automation:</label> </div>
                             <div class="col-xs-8">
                                 <div id="slider">
                                    <div id="custom-handle" class="ui-slider-handle"></div>
                                 </div>
                             </div>
                             <div class="col-xs-2">
                                 <input type="text" id="allocationToAutomation"  name="allocationToAutomation" size="1" class="orangeInputLabel">
                             </div>
                         </div>

                         <br>

                         <div class="row row-border-none">
                             <div class="col-xs-2"> <label style="margin: 10px" for="allocationToManual">Manual:</label> </div>
                             <div class="col-xs-8">
                                 <div id="slider2">
                                     <div id="custom-handle2" class="ui-slider-handle"></div>
                                 </div>
                             </div>
                             <div class="col-xs-2">
                                 <input type="text" id="allocationToManual"  name = "allocationToManual" size="1" class="orangeInputLabel">
                             </div>
                         </div>




                         <br>
                         <h3>
                             <code id="aImageAllocation">10</code> image(s) will be allocated to the automation and
                             <code id="mImageAllocation">10</code> image(s) will be allocated to you.
                         </h3>


                         <br>
                         <br>

                         <p>
                             <button type="button" class="btn btn-success btn-lg" onclick="return nextTrial()">
                                 Save and Begin Round-{{ nextRound }}  <i class="icon-arrow-right"></i>
                             </button>
                            <div id="dialog-confirm" title="Are you sure?" style="display: none">
                                <p id="dialog-confirm-text"></p>
                            </div>
                         </p>
                     </div>

                     <input id="durationResults"  type="hidden" name = "durationResults"  >
                     <input id="durationMessage"  type="hidden" name = "durationMessage" >
                     <input id="durationAllocation"  type="hidden" name = "durationAllocation" >
                     <input id="durationResultPage"  type="hidden" name = "durationResultPage" >
                     <input id="recordDate"  type="hidden" name = "recordDate" >
                     <input id="recordDate"  type="hidden" name = "recordDate" >


                 </form>
             </div>



<!--             <div class="text-right">

                 <button type="button" class="btn btn-success btn-lg" onclick="nextTrial()">
                     Begin Round-2  <i class="icon-arrow-right"></i>
                 </button>

             </div>-->

         </div>

        <div class="col-lg-2"></div>


     </div>
</div>
    <!-- /.container -->

</div>
<!-- /.container -->

<script>
    var nextRound = '{{ nextRound|safe }}';
</script>

<!--scripts loaded here-->

<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static "js/resultsAndMessages2.js" %}"></script>

</body>
</html>
